In [1]:
import pandas as pd

In [2]:
movies_metadata = pd.read_csv('movies_metadata.csv')
ratings =pd.read_csv('ratings.csv')

/Users/abbyschneider/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
movies_metadata.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
16967,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,126596,tt0042757,en,The Mudlark,It's 1875 and a young street urchin wants to s...,...,1950-11-28,0.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,At last it's here!,The Mudlark,False,6.0,3.0
28996,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,9673,tt0111640,de,Voll Normaaal,No overview found.,...,1994-11-10,0.0,91.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Voll Normaaal,False,5.0,14.0
16187,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,28699,tt0055571,en,Underworld U.S.A.,A bitter young man sets out to get back at the...,...,1961-05-13,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Sensational Film That Puts the Finger On Tod...,Underworld U.S.A.,False,6.6,12.0
15748,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,52337,tt0038000,en,Pride of the Marines,Al Schmid is a happy go lucky guy in Philadeph...,...,1945-08-24,0.0,119.0,[],Released,NaN,Pride of the Marines,False,0.0,2.0
20910,False,NaN,105000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,64682,tt1343092,en,The Great Gatsby,An adaptation of F. Scott Fitzgerald's Long Is...,...,2013-05-10,351040419.0,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Reserving judgments is a matter of infinite ho...,The Great Gatsby,False,7.3,3885.0

In [9]:
ratings.sample(5)

          userId  movieId  rating   timestamp
21327263  221481    56174     4.5  1302507976
17482        229      943     4.0  1037819496
21636667  224744      597     3.5  1287945181
1384863    14256   105844     3.0  1441953442
1194751    12281     1104     3.0  1310173071

In [10]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

NameError: name 'wiki_movies_raw' is not defined